{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab kendo</title>
    <!-- kendo CSS -->
    <link href="{% static 'kendo/styles/kendo.common-bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'kendo/styles/Office365.css' %}" rel="stylesheet"/>
    <link href="{% static 'kendo/styles/kendo.default.mobile.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <style>
        html, body{
            font-family: arial,sans-serif;
        }
    </style>
</head>
<body>
    {% block content %}
    
    {% endblock %}
</body>
</html>